recursive-include src/lollygag_ext/lollygag/src *
include src/lollygag_ext/lollygag/Cargo.toml 
recursive-include src/lollygag_ext/py_interface/src *
include src/lollygag_ext/py_interface/Cargo.toml 
